.activityText {
    font-size: 12px;
    font-family: Inter;
}

.activityP {
    font-family: Inter;
    font-size: 16px;
    color: white;
}

.tooltip {
    border: 2px solid rgb(99, 10, 139);
    background-color: black;
    font-family: Inter;
    font-size: 12px;
    color: white;
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    opacity: 0;
}