.cityText {
    font-size: 12px;
    font-family: Inter;
}

.cityP {
    font-family: Inter;
    font-size: 16px;
    color: white;
}

#dropDownCity {
    width: 120px;
    height: 35px;
    background-color: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 12px;
    font-family: Inter;
    padding: 5px;
}